<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>
      <% for(var i = 0 ; i < body.length ; i++) { %>
        <div>
          <%=body[i].name%>
          <%=body[i].email%>
        </div>
        <%}%>
    </p>

  </body>
</html>
